@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    border: 2px solid #000;
    background-color: rosybrown;
    padding: 10px;
}
.container .item {
    border: 2px solid #000;
    background-color: lavender;
    padding: 10px;
}

/* 그리드 형태를 자동으로 정의
grid-auto-columns
grid-auto-rows */
.container {
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-auto-rows: minmax(3fr,auto);
}