@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    border: 2px solid #000;
    background-color: rosybrown;
    padding: 10px;
}
.container .item {
    border: 2px solid #000;
    background-color: lavender;
    padding: 10px;
}
/* gird-column , grid-row */
/* ★ grid에는 라인이 있는데 그 라인에는 번호가 있음
각 셀 별로 영역을 지정할 수 있음
item에 지정해야 함 (item=container의 자식) */
.container  {
    font-size: 12px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-auto-rows: minmax(100px,auto);
    gap: 1rem; /* r(root) 16px 기준 중간에 폰트사이즈를 바꾸더라도 영향을 받지 않는다 */
}
/* gird에선 position없이 z-index가 실행됨 */
.container .item {
    /* r(root) 16px 기준 중간에 폰트사이즈를 바꾸더라도 영향을 받지 않는다 */
    font-size: 1rem;
    /* 1em = 12px (부모의 폰트사이즈영향) */
}
.item:nth-child(1) {
    grid-column: 1/3; /* == grid-column-start: 1;
    grid-column-end: 3; (1번부터 3번까지) */
    /* grid-column: 3; == grid-column: 3/4; (3부터 4까지 한칸을 의미함 변동 x*/
}
.item:nth-child(3) {
    grid-row-start: 2;
    grid-row-end: 4;
    grid-row: 2/4;
}
.item:nth-child(6) {
    grid-column: -1/-3;
}